name: examples examples-check

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  cargo-check-examples:
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: install system dependencies
        run: sudo apt-get update && sudo apt-get install -y libasound2-dev

      - name: setup rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable

      - name: cargo check examples manifest
        run: cargo check --manifest-path examples/Cargo.toml

